.button {
  font-family: "SF Pro Display", sans-serif;
  @include mxn-font-style(
    $buttonFontSize,
    $buttonLineHeight,
    $buttonWeight,
    white
  );
  padding: 0.75rem 1.5625rem 0.75rem 1.5rem;
  max-width: max-content;
  width: 127px;
  height: 46px;
  background-color: $main-blue;
  border-radius: 10px;
  cursor: pointer;

  &--purple {
    background-color: $main-purple;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $text-light-grey;
  }

  &:hover {
    opacity: 0.8;
  }
}
