//SF Pro Display

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("SF Pro Display"),
    url('../../fonts/SF-Pro-Display-Regular.woff2')
      format('woff2'),
    url('../../fonts/SF-Pro-Display-Regular.woff')
      format('woff');
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("SF Pro Display"),
    url('../../fonts/SF-Pro-Display-Medium.woff2')
      format('woff2'),
    url('../../fonts/SF-Pro-Display-Medium.woff')
      format('woff');
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("SF Pro Display"),
    url('../../fonts/SF-Pro-Display-Semibold.woff2')
      format('woff2'),
    url('../../fonts/SF-Pro-Display-Semibold.woff')
      format('woff');
}

//SF Pro Text

@font-face {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("SF Pro Text"),
    url('../../fonts/SFProText-Regular.woff2')
      format('woff2'),
    url('../../fonts/SFProText-Regular.woff')
      format('woff');
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("SF Pro Text"),
    url('../../fonts/SFProText-Medium.woff2')
      format('woff2'),
    url('../../fonts/SFProText-Medium.woff')
      format('woff');
}

@font-face {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("SF Pro Text"),
    url('../../fonts/SFProText-Semibold.woff2')
      format('woff2'),
    url('../../fonts/SFProText-Semibold.woff')
      format('woff');
}
