*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: white;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.container {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: $desktop-width-max;
  max-width: $desktop-width;
  min-height: 800px;
  width: 100%;
  height: auto;
  font-family: 'Inter', sans-serif;
  background-color: $background-grey;
  border-radius: 20px;
  @include mxn-font-style($baseFontSize, $baseLineHeight, 400, $text-dark-grey);
}

.container::after {
  content: '';
  z-index: -1;
  position: absolute;
  max-width: 41%;
  width: 458px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: $background-purple;
  background: linear-gradient(45deg, $gradient-purple 0%, $gradient-blue 100%);
  border-radius: 0 20px 20px 0;
}

.page-main {
  padding: 9.2rem 2.5rem 0 8.375rem;
  overflow: hidden;
  z-index: 10;
  background-position: top 447px right 403px, top 72px right 151px, top 482px right 725px, top 645px right 256px,
    top 13px right 550px, top 210px right 365px, right -1px top 58px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat;
  background-size: auto, auto, auto, auto, auto, auto, auto;
  background-image: url('https://mtrenkina.github.io/tech-sup-test/img/rectangle.png'), url('https://mtrenkina.github.io/tech-sup-test/img/man-2.png'), url('https://mtrenkina.github.io/tech-sup-test/img/man.png'),
    url('https://mtrenkina.github.io/tech-sup-test/img/ellipse-orange.png'), url('https://mtrenkina.github.io/tech-sup-test/img/ellipse-purple.png'),
    url('https://mtrenkina.github.io/tech-sup-test/img/ellipse-red.png'), url('https://mtrenkina.github.io/tech-sup-test/img/diagrams.svg');
}
