.main-nav {
  position: relative;
  gap: 0.8rem;
  display: flex;
  align-items: center;
  min-height: auto;

  &__logo {
    margin-right: auto;
    padding-right: 0.625rem;
  }

  &__logo img {
    min-width: 36.82px;
    min-height: 36.97px;
  }

  &__logo:hover {
    opacity: 0.6;
  }

  &__wrapper {
    position: absolute;
    border-radius: 14px;
    padding: 1.25rem 2.5rem;
    right: 0;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2.1875rem;
    row-gap: 1.25rem;
  }

  &__contacts {
    display: flex;
    align-items: center;
    width: 391px;
  }

  &__contacts #language {
    font-family: 'SF Pro Display', sans-serif;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: $text-blue-grey;
    appearance: none;
    margin-right: auto;
    width: min-content;
  }

  &__contacts a {
    display: block;
    @include mxn-link-style(white);
    min-width: max-content;
    margin-right: 1rem;
  }

}
