.promo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__wrapper {
    position: relative;
    min-width: 18%;
    max-width: 620px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.8125rem;
    padding: 0.8rem 0;
    z-index: 1;
  }

  & .heading {
    @include mxn-font-style($h1FontSize, $h1LineHeight, 600);
    display: inline;
    border-radius: 15px;
    background: rgba($background-grey, 0.8);
  }

  &__description {
    @include mxn-font-style(20px, 28px, 400);
    display: inline;
    padding-top: 0.9375rem;
    margin-right: 4.375rem;
    border-radius: 15px;
    background-color: rgba($background-grey, 0.8);
  }

  &__button {
    @include mxn-font-style(
      $buttonFontSize,
      $buttonLineHeight,
      $buttonWeight,
      white
    );
    margin-top: 0.875rem;
    width: 170px;
    height: 54px;
  }

  &__button-down {
    width: 54px;
    height: 54px;
    position: relative;
  }

  &__button-down svg {
    position: absolute;
    top: 19px;
    right: 17px;
  }
}
