.site-list {
  @include mxn-list-style;
  border-radius: 15px;
  padding-right: 65px;
  min-width: 30%;

  &__item a {
    @include mxn-link-style;
    font-family: 'SF Pro Text', sans-serif;
    @include mxn-font-style($h5FontSize, $h5LineHeight, $h5Weight, $text-dark-grey);
  }

  &__item a:hover {
    opacity: 0.6;
  }
}
